<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.assionhonty.lib.assninegridview">

    <application>
        <activity
            android:name=".assImgPreview.AssImgPreviewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
